{
  "extends": "eslint:recommended",
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "no-var": "error",
    "no-unused-vars": ["warn", {
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_" ,
      "args": "all"
    }],
    "prefer-const": ["warn"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "env": {
    "es6": true,
    "shared-node-browser": true
  }
}
